<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/plain "access plus 600 seconds"
  ExpiresByType application/xml "access plus 600 seconds"
  ExpiresByType application/json "access plus 600 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"  
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 month"
</IfModule>
<ifModule mod_headers.c>
		AddDefaultCharset UTF-8
		FileETag MTime Size
		Header set Pagespeed-Tech "avethemes.com"
		Header set Access-Control-Allow-Origin: *
		Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
		Header set Connection keep-alive	
		Header unset Pragma
		Header unset ETag
		FileETag None	
	<FilesMatch "\.(js|css|jpg|png|gif|map)$">
		Header set Cache-Control "max-age=2592000, public"
		Header set Last-Modified "Sun, 27 Dec 2009 00:00:00 GMT"
		Header append Vary: Accept-Encoding
	</FilesMatch>
</ifModule>

#DEFAULT CONFIG
Options +FollowSymlinks
Options -Indexes
 
# Prevent Direct Access to files
<FilesMatch "\.(tpl)">
 Order deny,allow
 Deny from all
</FilesMatch>
# Using for Layerslider Building in admin
#php_value max_input_vars 4999 #default is 1000

# SEO URL Settings
RewriteEngine On
# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. /public_html/test/
#RewriteBase /test/
RewriteBase /
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteRule ^sitemap.xml$ index.php?route=feed/google_sitemap [L]
RewriteRule ^googlebase.xml$ index.php?route=feed/google_base [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]


### Additional Settings that may need to be enabled for some servers 
### Uncomment the commands by removing the # sign in front of it.
### If you get an "Internal Server Error 500" after enabling any of the following settings, restore the # as this means your host doesn't allow that.

# 1. If your cart only allows you to add one item at a time, it is possible register_globals is on. This may work to disable it:
# php_flag register_globals off

# 2. If your cart has magic quotes enabled, This may work to disable it:
# php_flag magic_quotes_gpc Off

# 3. Set max upload file size. Most hosts will limit this and not allow it to be overridden but you can try
# php_value upload_max_filesize 999M

# 4. set max post size. uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value post_max_size 999M

# 5. set max time script can take. uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value max_execution_time 200

# 6. set max time for input to be recieved. Uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value max_input_time 200
<ifmodule mod_deflate.c>
		ExpiresActive On
		#CSS JS XML - 1 MONTH
		<FilesMatch "\.(css|map|js)$">
				SetOutputFilter DEFLATE
			<ifModule mod_headers.c>
				ExpiresDefault "access plus 1 month"
				Header set Cache-Control "max-age=2592000, public"
				Header set Last-Modified "Wed, 05 Jun 2009 06:40:46 GMT"
				Header set Expires "Sat, 27 Dec 2014 23:59:59 GMT"
			</ifmodule>
		</FilesMatch>

		#JPG JPEG PNG GIF SWF - 1 MONTH
		<FilesMatch "\.(jpg|jpeg|png|gif|swf|JPG|JPEG|PNG|GIF|SWF)$">
			SetOutputFilter DEFLATE
			<ifModule mod_headers.c>
				Header set Cache-Control "max-age=2592000, public"
				Header set Last-Modified "Wed, 05 Jun 2009 06:40:46 GMT"
				Header set Expires "Sat, 27 Dec 2014 23:59:59 GMT"
				ExpiresDefault "access plus 1 month"
			</ifmodule>
		</FilesMatch>

		#OTF ICO PDF FLV - 1 MONTH
		<FilesMatch "\.(otf|ico|pdf|flv|svg|ttf|woff|eot)$">
			SetOutputFilter DEFLATE
			<ifModule mod_headers.c>
				Header set Cache-Control "max-age=2592000, public"
				ExpiresDefault "access plus 1 month"
			</ifmodule>
		</FilesMatch>

		#HTML HTM
		<FilesMatch "\.(html|htm|php)$">
			SetOutputFilter DEFLATE
			BrowserMatch ^Mozilla/4 gzip-only-text/html
			BrowserMatch ^Mozilla/4.0[678] no-gzip
			BrowserMatch bMSIE !no-gzip !gzip-only-text/html
			#Header set Cache-Control "max-age=600, public"
			<IfModule mod_headers.c>
				BrowserMatch MSIE ie
				Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
			</IfModule>
		</FilesMatch>
</ifmodule>

<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file .(html|jpg|png|gif|css|map|js)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/html$
  mod_gzip_item_include mime ^text/css$
  mod_gzip_item_include mime ^text/javascript$
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>